body {
    background-color: #eee;
}

form {
    max-width: 500px;
    margin: 40px auto;
}


.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Make sure the highlight is in front of other form fields */
.form-control:focus {
    z-index: 2;
}

input.first {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input.last {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

button {
    margin: 20px 0;
}


/* Lower font size for the prettyprinted json */
#response__rawJSON {
    font-family: monospace;
    font-size: 12px;
    height: 260px;
}