body {
    background-color: #eee;
    padding-bottom: 20px;
}

.payment-header {
    margin-bottom: 35px;
}

.payment-section {
    margin-bottom: 40px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* Make sure the highlight is in front of other form fields */
.form-control:focus {
    z-index: 2;
}

input.first {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input.last {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control[readonly] {
    font-family: monospace;
    background-color: #f6f6f6;
}

button {
    margin: 20px 0;
}


/* Lower font size for the prettyprinted json */
#response__rawJSON {
    font-size: 12px;
    height: 260px;
}


#paypageRegistrationId {
    height: 128px;
}

